#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(146, 146, 146, 0.3);
  background-color: rgba(177, 177, 177, 0.507);
}
.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
  font-family: "roboto";
}
.social-container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 300px;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  flex-direction: column;
  cursor: pointer;
}
.social-container-item:hover {
  transform: scale(1.01);
}
.social-container-item-title {
  font-size: 20px;
}
.social-item-container {
  max-height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
  overflow: auto;
  font-family: "roboto";
}
.social-item-container-item {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.social-item-container-item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding: 5px;
  width: 10%;
}
.social-item-container-item-div1 {
  padding: 5px;
  border-left: 1px solid #a7a7a7;
  width: 10%;
}
.social-item-container-item-div2 {
  padding: 5px;
  border-left: 1px solid #a7a7a7;
  width: 20%;
}
.social-item-container-item-div3 {
  padding: 5px;
  border-left: 1px solid #a7a7a7;
  width: 60%;
}
.about-title {
  font-size: 18px;
  line-height: 1.5;
  font-family: Inter;
  text-transform: uppercase;
  font-weight: 600;
}
.jodit-wysiwyg {
  background-color: white;
}
.my-width-heith {
  width: 150px !important;
  height: 150px !important;
}
.vertical-center {
  vertical-align: middle !important;
}
.footer-hover:hover {
  transform: scale(1.1);
  transition: ease-in 0.3s;
}
.m-shiidel-hover {
  height: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #244583;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-family: "roboto";
}
.m-shiidel-hover1 {
  height: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  line-height: 1;
}
.m-shiidel-text {
  font-size: 40px;
  color: white;
  opacity: 1;
  font-weight: bold;
}
.m-shiidel-text2 {
  font-size: 20px;
  color: white;
  opacity: 1;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .m-shiidel-text {
    font-size: 20px;
  }
  .m-shiidel-text2 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .header-logo {
    display: none;
  }
  .m-shiidel-text {
    font-size: 10px;
  }
  .m-shiidel-text2 {
    font-size: 8px;
  }
  .my-font-size {
    font-size: 8px;
  }
  .about-mobile-gap {
    gap: 20px;
  }
  .about-mobile-width {
    width: 90%;
  }
  .social-item-container-item-img {
    width: 30%;
  }
  .social-item-container-item-div1 {
    display: none;
  }
  .social-item-container-item-div2 {
    width: 70%;
  }
  .social-item-container-item-div3 {
    display: none;
  }
}
